.wrapper {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  }

.fork__wrapper {
  background: url("../img/img 1.png");
  background-size: cover;
  background-position: center;

  .header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 103px;
    background: #27262A;

    &__logo {
      display: flex;
      align-items: center;
      padding-left: 15px;

      &-white {
        display: none;
      }

      &-title {
        font-family: 'Montserrat';
        text-transform: uppercase;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: $textViolet;
        padding-left: 17px;
        display: none;
      }
    }

    .header__logo:hover .header__logo-violet {
      display: none;
    }

    .header__logo:hover .header__logo-white {
      display: block;
    }

    .header__logo:hover .header__logo-title {
      color: #FFFFFF;
    }

    &__menu-button {
      min-width: 119px;
      height: 37px;
      background: $textViolet;
      border-radius: 40px;
      color: #ffffff;
      font-weight: bold;
      font-size: 15px;
      line-height: 15px;
      cursor: pointer;
      border: none;
    }

    &__menu-button:hover {
      background: #ffffff;
      color: $textViolet;
    }

    &__menu {
      display: none;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      align-items: center;
      color: $textViolet;
      cursor: pointer;
      padding: 0 63px;
      margin: 0 auto;

      &-item:not(:first-child) {
        padding-left: 47px;
      }

      &-item:hover {
        color: #FFFFFF;
      }
    }
  }

  .fork__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    text-align: center;
    padding: 50px 0 19px;
  }

  .fork__subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $textViolet;
    text-transform: capitalize;
    text-align: center;
  }

  .fork__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #848E97;
    padding: 14px 0 407px;
  }
}

.fork__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $textViolet;
  width: 290px;
  height: 45px;
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  border: 1px solid $textViolet;
  cursor: pointer;
  margin: -23px auto;
}

.fork__button:hover {
  background: #ffffff;
  color: $textViolet;
}

.unlimited {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #848E97;
  margin-top: 32px;
  margin-bottom: 80px;
}

@media screen and (min-width: $tablet) {

  .fork__wrapper {

    header {
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 24px;

      .header__logo {
        padding-left: 20px;

        .header__logo-title {
          display: block;
        }
      }

      .header__menu-button {
        min-width: 145px;
        margin-right: 20px;
      }

      .burger-menu {
        display: none;
      }

      .header__menu {
        display: flex;

      }
    }
  }

  .unlimited {
    margin-bottom: 94px;
  }
}

@media screen and (min-width: $desktop) {

  .fork__wrapper {

    .header {
      justify-content: space-evenly;
      background: none;
      padding-top: 31px;

      &__logo {

      }

      &__menu-button {
        order: 3;
        margin-right: 90px;
      }

      &__menu {
        margin-left: auto;
        margin-right: 20px;
        padding: 0;
      }
    }
  }

  .unlimited {
    margin-bottom: 66px;
  }
}


