$font-Lato: "Lato", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;
$main-color: #8D81AC;

$font-regular: 400;
$font-bold: 700;
$font-family-lato: 'Lato', sans-serif;

$rev-editor-text-color: #323232;
$white-color: #FFFFFF;