
.you-get {

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #8D81AC;
    padding: 32px 47px 0 43px;
    text-align: center;
  }
  &__subtitle {
    padding-top: 27px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #323232;
  }
  &__desc {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #848E97;
    padding-top: 14px;

  }
  &__icon {
    padding-top: 38px;
    //height: initial;
    //margin-top: 38px;

  }
  &__img {
    //grid-area: img;
    //float: right;
    //max-width: 200px;

  }
}

.you-get__image {
  display: flex;
  justify-content: end;
}
.youget__img-mobile {

  max-width: 100%;
  height: auto;
  padding-top: 64px;

}
.youget__img-desktop {
  display: none;
}

@media (min-width: 481px) {
  .you-get{
    &__item {
      display: flex;
      align-items: center;

    }
    &__item-img {
      width: 30%;
    }
    &__item-desc {
      width: 80%;
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-left: 20px;
    }
    &__desc {
      padding-top: 5px;
    }

  }


  .youget__img-mobile {
    display: none;
  }
  .youget__img-desktop {
    display: block;
    text-align: right;
    max-width: 100%;
    height: initial;
    padding-top: 76px;
    //float: right;

  }
}

.wrap-get {
  display: flex;
  flex-direction: column;
  text-align: center;
  //align-items: center;
}

@media (min-width: 993px) {
  .grey {
    background-color: #F4f4f4;
  }
  .you-get {
    display: grid;

    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 48% 52%;
    grid-auto-rows: min-content;
    padding-top: 96px;


    &__title {
      //position: absolute;
      //right: 1px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 50px;
      color: #8D81AC;
      text-align: left;
      grid-column: 2 / 3;
      padding:  0;

    }

    &__item {

      margin-right: 60px;
    }

    &__desc {
      padding-top: 16px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 21px;
      color: #848E97;
    }

    .wrap-get {
      grid-row: 1 / 3;
    }

    &__icon-wrapper { width: 36%; }
    &__text {
      width: 62%;
      margin-bottom: 10px;
    }
    .you-get__image {
      grid-column: 2 / 3;
    }
    .youget__img-desktop {
      max-width: 100%;
      height: auto;
      padding-top: 18px;
    }
  }
}

