@import "reset";
@import "variables";
@import "vars";
@import "mixins";
@import "header";
@import "burger";
@import "revolut";
@import "youget";
@import "about";
@import "price";


.container {
  padding: 0 10px;
  max-width: 1200px;
  margin: 0 auto;
}

